.qna{
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #cccccc5d;
    border: 2px solid rgba(65, 64, 64, 0.661);
    border-radius: 15px;
    padding-left: 10px;
    box-shadow: 0px 0px 3px inset;
}
:root{
    --primary-btn-clr: #00b7ff;
    --secondary-btn-clr:#6c757d;
}
.buttons{
    margin-left: 250px;
    margin-top: 10px;
}

#primaryBtn{
    color: white;
    padding: 5px;
    background-color: var(--primary-btn-clr);
    border: none;
    border-radius: 5px;
    margin: 20px;
}
#secondaryBtn{
    color: white;
    padding: 5px;
    background-color: var(--secondary-btn-clr);
    border: none;
    border-radius: 5px;
}