*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    color: black;
    font-family: Josefin Sans, sans-serif;
    font-weight: 400;
    list-style-type:none ;

}
body{
    padding: 3px;
    display: flex;
    outline: none;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    background-color: rgb(69, 68, 68);
}
/* main section starts here! */
.main{
    width: 600px;
    min-width: 600px;
    height: 800px;
    border: 1px solid rgba(201, 192, 192, 0.738);
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 1fr 9fr ;
    background-color: #fff;
}

/* header */
.header{
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: linear-gradient(
            white,
            rgba(17, 168, 249, 0.532)
            );
}
    .header i {
        padding: 2px;
    }
    .name{
        font-family: Josefin Sans, sans-serif;
        font-size: larger;
        font-weight: 700;
        padding-top: 2%;
        padding-bottom: 1%;
    }
    .social-icons{
        position: absolute;
        justify-self: flex-start ;
        align-self: flex-end;
        cursor: pointer;
    }
    .social-icons a i:hover{
        transform: scale(1.15);
    }
    .techstack-logos-bar{
        width: 100%;
        height: 54%;
        justify-self: flex-end;
        
        display: flex;
        justify-content: space-evenly;
        align-items: end;
    }
    .techstack-logos-bar img{
        height: 30px;
        transition: ease-in;
    }
    #html-logo, #css-logo , #mysql-logo{
        opacity: 60%;
        
    }
    #bootstrap-logo, #tailwind-logo{
        opacity: 40%;
    }
    #python-logo{
        opacity: 40%;
    }
    #js-logo, #java-logo{
        opacity:20%;
    }

/* Mid section */
h2{
    padding-bottom: 10px;
    font-size: small;
    font-weight: 700;
    text-transform: uppercase; 
}
h3{
    font-size: 14px;
    font-weight: 600;
    text-decoration:underline;
}
h4{
    font-size: 10px;
}

.sub-section{
    padding-bottom: 25px;
}
.left-section{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-image: linear-gradient(
        rgba(17, 168, 249, 0.532),
        rgba(29, 126, 186, 0.932)
    );
    padding-left: 7px;
    gap: 30px;
    padding-top: 15px;
}
.left-section div h2{
    padding-left: 20px;
}
.left-section .contacts{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-between;
    gap: 20px;
}
.skills-hobbies ul{
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
}
.skills-hobbies ul li{
    list-style-type: '＊';
}
.skills-hobbies ul p{
    padding-right: 100px;
    font-size: small;
    padding-top: 10px;
} 
.skills-hobbies ul p:not(:first-of-type){
    padding-right: 100px;
    padding-top: 10px;
} 
.skills-hobbies h2:not(:first-of-type){
    padding-top: 20px;
}


.right-section{
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 15px;
}
#grid-project ul li{
    list-style-type: '⇒';
}

#graduation, #hsc, #ssc, #grid-project{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
li, li a{
    font-size: 13px;
    padding: 5px;
}
li a{
    color: rgb(36, 36, 163);
    font-weight: 700;
}
.personal-project ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
