*{
    text-align: center;
    padding: 20px;
}

p{
    font-size: larger;
    font-weight: lighter;
    font-family: sans-serif;
    color: rgb(58, 57, 57);
}

h1{
    font-size: xx-large;
    font-family: sans-serif;
}